
# deepseek
DEEPSEEK_OPENAI_API_KEY=
DEEPSEEK_OPENAI_BASE_URL=
DEEPSEEK_MODEL=deepseek-v4-flash

# qianwenplus
QIANWEN_OPENAI_API_KEY=
QIANWEN_OPENAI_BASE_URL=
QIANWEN_MODEL=qwen3.7-plus

TAVILY_API_KEY=
AMAP_API_KEY=

