
# deepseek
DEEPSEEK_OPENAI_API_KEY=
DEEPSEEK_OPENAI_BASE_URL=
DEEPSEEK_MODEL=deepseek-v4-flash

# qianwenplus
QIANWEN_OPENAI_API_KEY=
QIANWEN_OPENAI_BASE_URL=
QIANWEN_MODEL=qwen3.7-plus

# 搜索引擎的api_key
TAVILY_API_KEY=

# 高德地图的api_key
AMAP_API_KEY=

